.header{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
}
.header>div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header__btn{
    text-decoration: none;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background: #FE5F1E;
    border: none;
    color: white;
    border-radius: 50px;
    cursor: pointer;

}
.btnCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #ffffe1;
    padding-left: 10px;
    margin-left: 10px;
    
}